* {
    box-sizing: border-box;
}

.index-body {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

.header {
    background-color: azure;
    color: black;
    height: auto;
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.index-list {
    background-color: gray;
    text-align: center;
    display: block;
}

.item {
    display: inline-block;
    padding: 2px;
    border: solid blue 2px;
    margin: 5px;
}

